@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Helvetica", sans-serif;
}

.body-container {
  width: 66vw;
  margin-left: 17vw;
}

.header {
  margin-top: 4em;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-weight: 900;
  font-size: 1.4em;
}
.search-wrapper {
  display: flex;
  align-content: center;
  align-items: center;
}

.input-wrapper {
  display: flex;
  align-items: center;
  width: 300px;
  background: #f2f2f2;
  padding: 1px 10px;
  i {
    color: #333;
  }
  input {
    border: none;
    background: transparent;
    padding: 8px 10px;
    &::placeholder {
      color: #333;
      font-family: "Poppins", sans-serif;
    }
    &:focus {
      outline: none;
    }
  }
}

.user-avatar {
  margin-left: 20px;
  border: 2px solid #3f51f0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.collab-wrapper {
  width: 100%;
  background: #03dac6;
  margin-top: 50px;
  padding: 5em 2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .info {
    h2 {
      font-size: 2em;
    }
    h1 {
      font-size: 2.8em;
      line-height: 1em;
    }
    .see-all-info {
      font-size: 1.1em;
    }
  }
}

.primary-button {
  padding: 0.6em 3em;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: #000;
  color: #fff;
  border: none;
  transition: all ease 0.2s;
  box-shadow: 0px 6px 8px 0 rgba($color: #000000, $alpha: 0.01);
  &:hover {
    cursor: pointer;
    opacity: 0.95;
    transform: translateY(-0.06em);
    box-shadow: 0px 6px 12px 0 rgba($color: #000000, $alpha: 0.25);
  }
}

.hc-wrapper {
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
}

.latest-wrapper {
  max-width: 65%;
  .latest-title {
    color: #3700b3;
    letter-spacing: 2px;
    font-weight: 700;
    padding: 0 1em;
    border-left: 6px solid #3700b3;
  }
}

.newsletter-wrapper {
  max-width: 320px;
  padding: 1.2em;
  background: #fff;
  border: 3px solid #000;
  h2 {
    font-weight: 700;
    font-size: 1.2em;
  }
  p {
    font-size: 1em;
  }
  .nmi {
    margin-top: 1.5em;
    background: #e2e2e2;
    width: 100% !important;
  }
  .spam-text {
    font-size: 0.8em;
    padding-top: 10px;
  }
}

.subs-button {
  width: 100% !important;
  margin-top: 0.8em;
}

.latest-post-c {
  margin: 1em 0;
  padding: 1em;
  background: #f6f6f6;
  h2 {
    color: #212121;
    font-weight: 600;
    line-height: 1.2em;
  }
  .author-info {
    margin-top: 10px;
    color: #212121;
    font-weight: 400;
  }
  &:hover {
    background: #eee;
    cursor: pointer;
  }
}

.sidebar-login {
  margin-top: 1.4em;
  border: 3px solid #03dac6;
  background: #03dac6;
  max-width: 320px;
  padding: 1em 1.4em;
}
.footer-wrapper {
  text-align: center;
  margin: 5em 0;
  h1 {
    font-size: 2.4em;
  }
  h3 {
    color: #666666;
    font-weight: 600;
  }
  p {
    margin: 2em 0;
  }
}

.love {
  color: #e44;
}

.modal-wrapper {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: transparent;
  .modal-close {
    cursor: pointer;
    opacity: 0.8;
    position: absolute;
    right: 25px;
    top: 20px;
    font-size: 1.6em;
    overflow: hidden;
  }
  .modal-overlay {
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba($color: #212121, $alpha: 0.5);
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4em;
    z-index: 3;
    height: 550px;
    background: #fff;
    .msg-sent-box {
      height: max-content;
      width: max-content;
      position: relative;
      top: 50%;
      text-align: center;
      left: 50%;
      transform: translate(-50%, -50%);
      h2 {
        line-height: 1.2em;
      }
      p {
        padding: 1em 0;
      }
    }
    .modal-form-container {
      margin-top: 2em;
      width: 500px;
      input {
        border: none;
        margin-top: 10px;
        width: 100%;
        background: #f2f2f2;
        padding: 12px 10px;
        width: 100%;
        &::placeholder {
          color: #333;
          font-family: "Poppins", sans-serif;
        }
        &:focus {
          outline: none;
        }
      }
      textarea {
        margin-top: 10px;
        resize: none;
        border: none;
        width: 100%;
        background: #f2f2f2;
        height: 150px;
        padding: 8px 10px;
        &::placeholder {
          color: #333;
          font-family: "Poppins", sans-serif;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
}
