@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Helvetica", sans-serif;
}

.cd-wrapper {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .close-btn {
    cursor: pointer;
    font-weight: 700;
    font-size: 2rem;
    position: absolute;
    right: 2rem;
    top: 1rem;
    transition: all ease 0.5s;
    &:hover{
      color: #2962ff;
    }
  }
  .cd-title {
    font-size: 2.2rem;
  }
}

.cw-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    margin-top: 3rem;
    font-size: 2.2rem;
  }
  .csb {
    margin-top: 2rem;
    font-family: "Segoe UI", "Roboto";
    outline: none;
    width: 60vw;
    padding: 0.6rem 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    background: #d6d6d6;
    border: 2px solid transparent;
    border-radius: 6px;
    &::placeholder {
      color: #333;
    }
    &:target {
      background: #fff;
    }
    &:focus {
      background: #fff;
      border: 2px solid #2962ff;
    }
    &:active {
      background: #fff;
    }
  }
}

.search-result {
  margin-top: 1rem;
  padding: 1rem;
  .clabel {
    display: inline-block;
    padding: 0.5rem 2rem;
    background: #eaeaea;
    margin: 1rem;
    text-decoration: none;
    color: #212121;
    font-weight: 700;
    border-radius: 6px;
    &:hover {
      background: #d6d6d6;
    }
  }
}

.lu-text {
  color: #464646;
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.cw-link {
  color: #212121;
  font-weight: 600;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  .title {
    font-size: 2.6rem;
    margin-top: 6rem;
  }
}

.card-container {
  cursor: default;
  width: 40vw;
  position: relative;
  background: #e6e6e6;
  padding: 1rem 2rem;
  border-radius: 10px;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .info {
    display: flex;
    flex-direction: column;

    .card-title {
      margin-top: 1rem;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    .count {
      font-size: 2.4rem;
      font-weight: 700;
    }
  }
  .details {
    a {
      display: inline-block;
      text-decoration: none;
      padding: 0.5rem 1.5rem;
      background: #fff;
      color: #2962ff;
      font-weight: 700;
      border-radius: 10px;
      font-family: "Segoe UI";
      font-size: 1rem;
    }
  }
}

.details-wrapper {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .details-title {
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 800;
  }
}

.loader-style {
  font-weight: 500;
  text-align: center;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  font-size: 1.6rem;
  transform: translate(-50%, -50%);
}

.list-cont {
  background: #f6f6f6;
  margin-top: 30px;
}

.list-big {
  display: flex;
  width: 40vw;
  height: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0.5rem 0;
  font-weight: 500;
  border-bottom: 1px solid #d6d6d6;
  &:nth-child(2n + 1) {
    background: #e1e1e1;
  }
  .country-name {
    position: absolute;
    left: 10px;
  }
  .count-w {
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 578px) {
  .container {
    .title {
      font-size: 1.8rem !important;
      margin-top: 4rem;
    }
  }

  .csb {
    width: 90vw !important;
  }

  .clabel {
    margin: 0.5rem !important;
  }

  .lu-text {
    text-align: center;
    padding: 0 2rem;
  }

  .cards-wrapper {
    margin-top: 4rem;
  }

  .card-container {
    width: 100vw;
    margin-top: 10px;
    border-radius: 0 !important;
  }

  .details-title {
    font-size: 1.4rem !important;
    margin-top: 4rem;
  }

  .list-big {
    width: 100vw;
    .count-w {
      right: 2rem;
    }
    .country-name {
      left: 2rem;
    }
  }
}
