@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Helvetica", sans-serif;
}

.body-container {
  width: 66vw;
  margin-left: 17vw;
}

.header {
  margin-top: 4em;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-weight: 900;
  font-size: 1.4em;
}
.search-wrapper {
  display: flex;
  align-content: center;
  align-items: center;
}

.input-wrapper {
  display: flex;
  align-items: center;
  width: 300px;
  background: #f2f2f2;
  padding: 1px 10px;
  i {
    color: #333;
  }
  input {
    border: none;
    background: transparent;
    padding: 8px 10px;
    &::placeholder {
      color: #333;
      font-family: "Poppins", sans-serif;
    }
    &:focus {
      outline: none;
    }
  }
}

.user-avatar {
  margin-left: 20px;
  border: 2px solid #3f51f0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.collab-wrapper {
  width: 100%;
  background: #03dac6;
  margin-top: 50px;
  padding: 4em 2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .info {
    h2 {
      font-size: 2em;
    }
  }
}

.primary-button {
  padding: 0.6em 3em;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: #000;
  color: #fff;
  border: none;
  transition: all ease 0.2s;
  box-shadow: 0px 6px 8px 0 rgba($color: #000000, $alpha: 0.01);
  &:hover {
    cursor: pointer;
    opacity: 0.95;
    transform: translateY(-0.06em);
    box-shadow: 0px 6px 18px 0 rgba($color: #000000, $alpha: 0.3);
  }
}

.hc-wrapper {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}

.latest-wrapper {
  max-width: 65%;
  .latest-title {
    color: #3700b3;
    letter-spacing: 2px;
    font-weight: 700;
    padding: 0 1em;
    border-left: 6px solid #3700b3;
  }
}

.newsletter-wrapper {
  max-width: 320px;
  padding: 1.2em;
  background: #fff;
  border: 3px solid #000;
  h2 {
    font-weight: 700;
    font-size: 1.2em;
  }
  p {
    font-size: 1em;
  }
  .nmi {
    margin-top: 1.5em;
    background: #e2e2e2;
    width: 100% !important;
  }
  .spam-text {
    font-size: 0.8em;
    padding-top: 10px;
  }
}

.subs-button {
    width: 100% !important;
    margin-top: 0.8em;
  }

.latest-post-c {
  margin: 1em 0;
  padding: 1em;
  border: 3px solid #3700b3;
  h2 {
    color: #3700b3;
    line-height: 1.2em;
  }
  .author-info {
    color: #212121;
    font-weight: 400;
  }
  &:hover {
    background: #eee;
    cursor: pointer;
  }
}

.sidebar-login {
  margin-top: 1.4em;
  border: 3px solid #03dac6;
  background: #03dac6;
  max-width: 320px;
  padding: 1em 1.4em;
}
